<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Forms.css")" rel="stylesheet" type="text/css" />
</head>

<body>
</body>
@RenderBody()
</html>